@import "tailwindcss";

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

@layer base {
  a,
  button,
  li {
    caret-color: transparent;
    user-select: none;
  }
}
